@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;700&display=swap');
:root {
    --black: #000;
    --white: #fff;
    --brown: #323232;
    --sand: #efefef;
    --blue: #17b3de;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    color: var(--white);
    font-family: 'Archivo', sans-serif;
}

button, a, input {
    font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

a {
    text-decoration: none;
}

p  {
    color: var(--brown);
    font-size: 18px;
}

input, textarea {
    font-family: 'Archivo', sans-serif;
}
